/* #region ESTILOS GLOBALES */

    *{

        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    :root{

        --text-color: #42423c;
        --footer-color: #F2F2F2;
        --button-color: #F8F9FA;
        --border-color: #e9eae9;
        --text-lighter-color: #70757A;
        --line-color: #dcdcdc;

    }

    body{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;

    }

/* #endregion ESTILOS GLOBALES */

/* #region ESTILOS DEL HEADER */

    header{

        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: end;
        font-size: 13px;

    }

    header nav ul{

        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13px;

    }

    header nav ul li{

        margin-right: 15px;
        
    }


    header nav ul li:nth-child(2){

        margin-right: 25px;

    }

    header ul li:nth-child(3){

        margin-right: 25px;
        padding: 10px;
        border-radius: 50%;

    }

    header ul li:nth-child(3):hover{

        background-color: var(--line-color);

    }

    header nav ul li a{

        display: grid;
        place-items: center;
        text-decoration: none;
        color: var(--text-color);

    }

    header nav ul li a:hover{

        text-decoration: underline;

    }

    header nav ul li a .options-img{

        width: 17px;

    }

    header nav ul li a .user-img{

        width: 31px;
        border-radius: 50%;

    }

/* #endregion ESTILOS DEL HEADER */

/* #region ESTILOS DE MAIN */

    main{

        width: 100vw;
        height: 76vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    main section{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    main section figure{

        width: 265px;
        margin-bottom: 20px;

    }
    
    main section figure img{

        width: 100%;

    }

    main section .search{

        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: 50px;
        width: 90vw;
        height: 45px;
        max-width: 580px;

    }

    main section .search[title = "focus"]{

        box-shadow: 0px 0px 3px 3px var(--border-color);
        
    }

    main section .search[title = "not-focus"]{

        box-shadow: none;
        
    }

    main section .search:hover{

        box-shadow: 0px 0px 3px 3px var(--border-color);

    }

    main section .search:active{

        box-shadow: 0px 0px 1px 3px var(--border-color);

    }

    main section .search img:nth-child(1){

        width: 14px;
        height: 14px;
        margin-left: 16px;

    }

    main section .search img:nth-child(3){

        height: 20px;
        width: auto;
        margin-right: 3.5%;
        padding-left: 1.3vw;

    }

    main section .search form{

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 85vw;
        max-width: 490px;
        margin-left: 1vw;
        margin-right: 1vw;

    }

    main section .search form input{

        width: 100%;
        max-width: 480px;
        height: 25px;
        border: none;
        outline: none;
        font-size: 16px;

    }

    main section .search form img{

        width: 18px;
        height: 18px;
        display: none;
        
    }

    main section .search-buttons{

        width: 315px;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 20px;

    }

    main section .search-buttons button{

        background-color: var(--button-color);
        border: none;
        width: 150px;
        height: 35px;
        font-size: 14px;
        border-radius: 3px;

    }

    main section .search-buttons button:hover{

        border: 1px solid var(--line-color);

    }

    main section .switch-lang{

        font-size: 13px;

    }

    main section .switch-lang a{

        text-decoration: none;

    }

    main section .switch-lang a:hover{

        text-decoration: underline;

    }

/* #endregion ESTILOS DE MAIN */

/* #region ESTILOS DEL FOOTER */

    footer{

        width: 100%;
        position: fixed;
        bottom: 0;

    }

    footer .footer-block{

        background-color: var(--footer-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        font-size: 12px;
        padding-left: 2.7vw;
        padding-right: 2.7vw;
        color: var(--text-lighter-color)

    }

    footer .footer-block:nth-child(1){

        font-size: 15px;
        border-bottom: 1px solid var(--line-color);

    }

    footer .footer-block:nth-child(2) .left-footer-block{

        font-size: 14px;
        display: flex;

    }

    footer .footer-block:nth-child(2) .left-footer-block p{

        margin-right: 1.9vw;

    }

    footer .footer-block:nth-child(2) .left-footer-block a{

        text-decoration: none;
        color: var(--text-lighter-color);

    }

    footer .footer-block:nth-child(2) .left-footer-block a:hover{

        text-decoration: underline;

    }

    footer .footer-block:nth-child(2) .right-footer-block{

        font-size: 14px;
        display: flex;

    }

    footer .footer-block:nth-child(2) .right-footer-block p{

        margin-right: 1.9vw;

    }

    footer .footer-block:nth-child(2) .right-footer-block a{

        text-decoration: none;
        color: var(--text-lighter-color);

    }

    footer .footer-block:nth-child(2) .right-footer-block a:hover{

        text-decoration: underline;

    }

    @media (max-width: 840px){

        footer .footer-block:nth-child(2){

            flex-direction: column;
            height: 84px;
            align-items: center;
            justify-content: space-evenly;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block{

            margin-bottom: 10px;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block p{

            margin-right: 4vw;
    
        }

        footer .footer-block:nth-child(2) .right-footer-block p{

            margin-right: 4vw;
    
        }

    }

    @media (max-width: 540px){

        footer .footer-block:nth-child(2) .left-footer-block p:nth-child(1){

            grid-area: sobre_google;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block p:nth-child(2){

            grid-area: publicidad;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block p:nth-child(3){

            grid-area: negocios;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block p:nth-child(4){

            grid-area: como_funciona;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block{

            display: grid;
            grid-template-areas: 'sobre_google publicidad negocios' '. como_funciona .';
            justify-items: center;
            align-content: space-evenly;
            height: 100%;

            margin: 0;

        }

        footer .footer-block:nth-child(2) .left-footer-block p{

            width: fit-content;
    
        }

        footer .footer-block:nth-child(2) .left-footer-block p a{

            margin: 0;
    
        }

    }

    @media (max-height: 500px){

        footer{

            position: static;

        }
        
    }

/* #endregion ESTILOS DEL FOOTER */

